KINTONE_SUBDOMAIN=si8qxbanrfkx
KINTONE_TOKEN_AIR=your_air_app_token_here
KINTONE_TOKEN_SEA=your_sea_app_token_here
KINTONE_TOKEN_EC=your_ec_app_token_here
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
NEXT_PUBLIC_APP_URL=https://profit-omega-ten.vercel.app
GOOGLE_SHEET_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
