# 忽略所有文件
*

# 只跟踪项目文件
!.gitignore
!optec-profile.html
!01_profile_美丽的nicole ji/
!01_profile_美丽的nicole ji/index.html
!01_profile_美丽的nicole ji/nicole-photo.png
!zhangsiyuan/
!zhangsiyuan/**
!王莹/
!王莹/**
!杨紫璇/
!杨紫璇/**
!Jenny/
!Jenny/**
!04_faq_美丽的nicole ji/
!04_faq_美丽的nicole ji/**
