KINTONE_SUBDOMAIN=your_subdomain
KINTONE_APP_ID=your_app_id
KINTONE_API_TOKEN=your_api_token

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
SLACK_ASSIGNEE_USER_ID=UXXXXXXX

GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_PARENT_FOLDER_ID=your_google_drive_folder_id
